<!DOCTYPE html>
<!-- 
	This awesome resume was created by Grant Siders using the JSON Resume Schema: https://jsonresume.org
	It uses the lined theme designed by Grant Siders: https://github.com/apples723/jsonresume-theme-lined
-->

<html lang="en">
  <head>
    <meta charset="utf-8">
	<meta name="author" content="Grant Siders">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{basics.name}}</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
	
	<style>
	.name{
		font-size: 25px;
		font-weight: Bold;
		
	}
	.big-icon{
		font-size: 32px;
	}
	h1,h2,h3,h4,p {
		margin:0;
	}
	.occupation{
		font-size:15px;
	}
	.contact-info{
		margin:0px 0px 15px 15px;

	}
	.contact-box{
		float:right;
		text-align:left;
		font-size: 0.8em;		
		margin: 0px;
		width:100%;
	}
	.tag-cloud{
		width:100%;
		min-height:200px;
	}
	i{
		margin-right:10px;
	}
	.edu-title{
		font-weight: bold;
		font-size: 19px;
	}
	.edu-details{
		line-height: 1;
		font-size: 12px;
	}
	.edu-school{
		font-weight: bold;
	}
	.date{
		line-height: .5;
		font-size: 15px;
		margin-bottom: 5px;
	}
	.institution{
		color: #000;
		font-weight:bold;
		letter-spacing: 1px;
		margin-bottom: 0;
		line-height: 1;
	}
	.job{
		font-size: 19px;
		font-weight:bold;
	}
	.job-ul{
		padding-left: 15px;
		margin-top:15px;
		list-style: circle;
		margin-bottom: 0;
	}
	.job-highlights{
		font-size:12px;
		line-height: 1;
		margin-bottom: .3rem;
	}
	.skills{	
		margin-left: 20px;
		font-size: 0.8em;
		text-align: start;
	}

	.graph{
		color:#6412B2;
		margin-left:20px;
		font-size:0.9em;
	}
	.first{
		margin-top:20px;
	}
	.row-separator{
		height:2px;
	}
	.red-line{
		border-bottom: solid 2px #FF0000;
	}
	.red-line-left{
		border-bottom: solid 2px #FF0000;
		margin: 5px 0px 10px 0px;
	}
	.section-heading{
		color:#FF0000;
		font-weight:bold;
		font-size:20px;
	}
	.left-heading{
		text-align: left;
		margin: 0px 0px 0px 20px;
	}

	.left-column-section-heading{
		letter-spacing: 4px;
		font-size: 1.2em;
		text-align:left;
		margin: 0px 0px 15px 15px;
		vertical-align: middle;

	}
	.left-column-section-heading i{
		margin-right:0px;
	}
	.objective-statement{
		font-style: italic;
		font-size:0.8em;
		margin-left:20px;
		text-align: left;
	}
	.leftcolumn{ 
		margin: 0px; 
		padding: 5px; 
		text-align:center;
		padding: 10px;
	}
	.rightcolumn{
		min-height:26.5cm; 
		margin: 0px; 
		padding: 5px; 
		padding: 10px;
	}
	.print{
		width:21cm;
	}
	.no-style-a{
		color:inherit;
	}
	.proj-role{
		line-height:.5;
		font-size: 15px
	}
	.pro-details{
		margin-top: 10px;
		line-height: .5;
		font-size: 12px;
	}
	.pro-highlight{
		margin-top: 5px;
	}
	</style>
	<link href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.css" rel="stylesheet">

    </style>
  </head>
  <body>
	 <div class="container print">
    <div class="row">
      <div class="four columns leftcolumn">
      	<div class="row first">
      		<span class="name">{{basics.name}} </strong></span>
        	<p class="occupation">{{basics.label}}</p>
        </div>
        
        <div class="row">
          <div class="contact-box">
            <p class="contact-info"> 
              <i class="fa fa-phone"></i>{{basics.phone}}
              <br>
              <i class="fa fa-envelope"></i><a href="mailto:{{basics.email}}">{{basics.email}}</a>
              <br>
			  {{#profilesBool}}
			  {{#basics.profiles}}
              <i class=" fab fa-{{icon}}"></i><a class="no-style-a" href="{{url}}">{{user}}</a>
			  </br>
			  {{/basics.profiles}}
			  {{/profilesBool}}
            </p>
          </div>
        </div>
       
          <div class="section-heading left-heading">
            <i class="far fa-dot-circle"></i>Summary
          </div>
		 <div class="row">
	      	<div class="row-separator red-line-left">&nbsp;</div>
	      </div>
        <div class="row">
        <div class="row">
          <p class="objective-statement">
             {{basics.summary}}
          </p>
        </div>
		</div>
		 
        <div class="row">
          <div class="section-heading left-heading">
            <i class="far fa-lightbulb"></i>Key Skills
          </div>
		  </div>
		<div class="row">
	      	<div class="row-separator red-line-left">&nbsp;</div>
	      </div>
		{{#skillsBool}}
        <div class="row skills">
			{{#skills}}
			<i class="fa fa-check"></i>{{name}}</br>
			{{/skills}}
        </div>
		{{/skillsBool}}
		
		<div class="row">
          <div class="section-heading left-heading">
            <i class="fa fa-certificate"></i>Certifications
          </div>
		  </div>
		<div class="row">
	      	<div class="row-separator red-line-left">&nbsp;</div>
	      </div>
		{{#awardsBool}}
        <div class="row skills">
			{{#awards}}
			<i class="fa fa-check"></i>{{title}}</br>
			{{/awards}}
        </div>
		{{/awardsBool}}
	
      </div><!-- end left column -->
      
      <div class="eight columns rightcolumn">
      	<div class="row first">
      		<span class="section-heading"><i class="fa fa-suitcase"></i>Work Experience</span>    	
        </div>
		<div class="row-separator red-line">&nbsp;</div>
		{{#workBool}}
		{{#work}}
		
      	<div class="row">
      		<div>
			<div class="job">{{position}}, {{company}}</div>
      		<div class="date">{{startDateMonth}}{{startDateYear}} - {{endDateMonth}}{{endDateYear}}</div>
			 {{#workHighlights}}
					<ul class="job-ul">
						{{#highlights}}
						<li class="job-highlights">{{.}}</li>
						{{/highlights}}
					</ul>
					{{/workHighlights}}
			</div>
		</div>    	
       
		{{/work}}
		{{/workBool}}
        <div class="row first">
      		<span class="section-heading"><i class="fa fa-graduation-cap"></i>Education</span>    	
        </div>
		{{#educationBool}}
		{{#education}}
		
        <div class="row-separator red-line">&nbsp;</div>
      	<div class="row">
				<div class="edu-title">{{studyType}} in {{area}}</div>
				<div class="edu-details"><span class="edu-school">{{institution}}</span> - {{startDateMonth}}{{startDateYear}} - {{endDateMonth}}{{endDateYear}}</div>
		</div>
       
		{{/education}}
		{{/educationBool}}
		
		
    
      	<div class="row first">
      		<span class="section-heading"><i class="fas fa-hands-helping"></i>Volunteer</span>    	
        </div>
		<div class="row-separator red-line">&nbsp;</div>
		{{#volunteerBool}}
		{{#volunteer}}
		
      	<div class="row">
      		<div>
			<div class="job">{{position}}, {{company}}</div>
      		<div class="date">{{startDateMonth}}{{startDateYear}} - {{endDateMonth}}{{endDateYear}}</div>
			 {{#volunterHighlights}}
					<ul class="job-ul">
						{{#highlights}}
						<li class="job-highlights">{{.}}</li>
						{{/highlights}}
					</ul>
					{{/volunterHighlights}}
			</div>
		{{/volunteer}}
		</div>    
         {{/volunteerBool}}
		 <div class="row first">
      		<span class="section-heading"><i class="fas fa-bookmark"></i>Projects</span>    	
        </div>
		<div class="row-separator red-line">&nbsp;</div>
		{{#projectBool}}
		{{#project}}
		
      	<div class="row">
      		<div class="seven columns">
			<div class="job">{{title}}</a></div>
			<div class="proj-role">{{role}}</div>
			</div> 
			<div class="five columns">
			<div class="pro-details"><a class="no-style-a" href="{{url}}">{{url}}</a></div>
			<div class="pro-details">{{startDateMonth}}{{startDateYear}} - {{endDateMonth}}{{endDateYear}}</div>
			</div>
		</div>
			<div class="pro-highlight">
			 {{#projectHighlights}}
					<ul class="job-ul">
						{{#highlights}}
						<li class="job-highlights">{{.}}</li>
						{{/highlights}}
					</ul>
			{{/projectHighlights}}
			</div>
	
		{{/project}} 
         {{/projectBool}}
      </div><!-- close right column -->   
	  </div> <!-- close all row -->
    </div> <!-- close container -->
  </body>
</html>
